/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

AnchorPane {
	/*-fx-background-color: #696969 ;*/
}

GridPane {
	-fx-alignment: center;
	-fx-grid-lines-visible: true;
}

#grid {
	-fx-grid-lines-visible: false;
}

Label {
	-fx-border-width: 0.0px;
	-fx-text-fill:black ;
}

CheckBox {
	-fx-text-fill:white;
}

Text {
	-fx-fill: white;
}

#initText {
	-fx-font: 30px Arial;
	-fx-fill: black;
}

#addText {
	-fx-font: 30px Arial;
	-fx-fill: deeppink;
}

RadioButton {
	-fx-text-fill: white;
}